@inject Ingredient_inator.Data.ApplicationDbContext _context;
@model IEnumerable<Ingredient_inator.Models.Recipe>
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        .btn-red, .btn-red:active, .btn-red:visited {
            background-color: #AC3931;
        }

        .btn-red:hover {
            background-color: #D64C42;
        }
    </style>
}

<img class="img-fluid" src="~/images/Ingredient-inator-Home.png">

<div class="text-center mb-5">
    <h1 class="display-4 mt-5">Featured Recipes</h1>

    <div class="row mt-5">
        @foreach (var item in Model.Take(3))
        {
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Name)</a>
                        </h5>
                    </div>

                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PhotoLink)">
                    </a>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @{
                                    var Author = _context.Users.Where(U => U.Id == item.Author).SingleOrDefault();
                                }
                                
                                <p class="card-text">by @Author.FirstName @Author.LastName</p>
                            </div>

                            <div class="col">
                                <i class="fas fa-user-friends fa-lg mr-2"></i>
                                @Html.DisplayFor(modelItem => item.ServingSize)
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="btn btn-red btn-block text-light">
                            View Recipe
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row justify-content-center mt-3">
        @foreach (var item in Model.Skip(3))
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Name)</a>
                        </h5>
                    </div>

                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PhotoLink)">
                    </a>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @{
                                    var Author = _context.Users.Where(U => U.Id == item.Author).SingleOrDefault();
                                }

                                <p class="card-text">by @Author.FirstName @Author.LastName</p>
                            </div>

                            <div class="col">
                                <i class="fas fa-user-friends fa-lg mr-2"></i>
                                @Html.DisplayFor(modelItem => item.ServingSize)
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="btn btn-red btn-block text-light">
                            View Recipe
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>