@model Ingredient_inator.Models.EntityViewModel
@{
    ViewData["Title"] = "Profile";
}
@*recipes of user*@
<table id="recipes" class="table">
    <thead>
        <tr>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.Recipes.Name)*@
            </th>
            <th>
                Author
                @*@Html.DisplayNameFor(model => model.Recipes.Author)*@
            </th>
            <th>
                Category
                @*@Html.DisplayNameFor(model => model.Recipes.Category)*@
            </th>
            <th>
                Date Created
                @*@Html.DisplayNameFor(model => model.Recipes.DateCreated)*@
            </th>
            <th>
                Date Modified
                @*@Html.DisplayNameFor(model => model.Recipes.DateModified)*@
            </th>
            <th>
                Serving Size
                @*@Html.DisplayNameFor(model => model.Recipes.ServingSize)*@
            </th>
            <th>
                Portion List
                @*@Html.DisplayNameFor(model => model.Recipes.PortionList)*@
            </th>
            <th>
                Ingredient List
                @*@Html.DisplayNameFor(model => model.Recipes.IngredientList)*@
            </th>
            <th>
                Photo Link
                @*@Html.DisplayNameFor(model => model.Recipes.PhotoLink)*@
            </th>
            <th>
                Video
                @*@Html.DisplayNameFor(model => model.Recipes.VideoLink)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServingSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortionList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoLink)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Recipe" asp-route-id="@item.RecipeId">Edit</a> |
                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Details</a> |
                    <a asp-action="Delete" asp-controller="Recipe" asp-route-id="@item.RecipeId" onclick='return confirm("Are you sure?")'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*reviews of user*@
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Content
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Date and time
                </th>
                <th>
                    Edited?
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reviews)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="reviewContent">
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td class="reviewRating">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @if (item.DateModified != null)
                    {
                        @item.DateModified.Value.ToString("dd MMMM yyyy, HH:mm")
                    }
                </td>
                <td>
                    @if (item.DateModified != null)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    <a class="editReview" data-reviewId="@item.ReviewId" style="cursor: pointer; color: #0366d6;">Edit</a> |
                    <a asp-action="Delete" asp-controller="Review" asp-route-id="@item.ReviewId" onclick='return confirm("Are you sure?")'>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@*Categories*@
<h1>Categories</h1>

<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <p>
                                <a asp-action="ViewCategory" asp-controller="Category" asp-route-id="@item.CategoryId">Details</a> |
                                <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.CategoryId">Edit</a> |
                                <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryId" onclick='return confirm("Are you sure?")'>Delete</a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
