@model IEnumerable<Ingredient_inator.Models.Review>
@{
    ViewData["Title"] = "Profile - Review";
}

@section Styles {
    <link href="~/css/entities.css" rel="stylesheet">
}

<h1>Reviews</h1>

<table class="table table-hover mt-3" id="Reviews">
    <thead class="thead-red">
        <tr>
            <th class="text-light">Content</th>
            <th class="text-light">Rating </th>
            <th class="text-light">Date Posted</th>
            <th class="text-light">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>@Html.DisplayFor(modelItem => item.DatePosted)</td>
                <td>
                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none">
                        <i class="far fa-eye fa-lg"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none ml-2">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <a asp-action="Delete" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none ml-2" onclick='return confirm("Are you sure?")'>
                        <i class="far fa-trash-alt fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>