@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject Ingredient_inator.Data.ApplicationDbContext _context;
@model IEnumerable<Ingredient_inator.Models.Recipe>
@{
    ViewData["Title"] = "Recipes";
}

@section Styles {
    <style>
        h1 {
            display: inline-block;
            vertical-align: middle;
        }

        .thead-red {
            background-color: #AC3931;
        }

        .btn-red, .btn-red:active, .btn-red:visited {
            background-color: #AC3931;
        }

        .btn-red:hover {
            background-color: #D64C42;
        }
    </style>
}

<div class="mb-3">
    <h1 class="mt-2">Recipes</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create" class="btn btn-red text-light ml-3">Create Recipe</a>
    }
</div>

<table class="table table-hover mt-3" id="recipes">
    <thead class="thead-red">
        <tr>
            <th class="text-light">Name</th>
            <th class="text-light">Category</th>
            <th class="text-light">Date Created</th>
            <th class="text-light">Serving Size</th>
            <th class="text-light">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId" style="color: black">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>

                @{
                    var Category = _context.Categories.Where(C => C.CategoryId == item.Category).SingleOrDefault();
                }

                <td>
                    @if (Category != null)
                    {
                        <a asp-action="ViewCategory" asp-controller="Category" asp-route-id="@item.Category">@Category.Name</a>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                <td>@Html.DisplayFor(modelItem => item.ServingSize)</td>
                <td>
                    <a asp-action="ViewRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none">
                        <i class="far fa-eye fa-lg"></i>
                    </a>
                    @if (ViewBag.UserId == item.Author)
                    {
                        <a asp-action="Edit" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none ml-2">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="Recipe" asp-route-id="@item.RecipeId" class="text-decoration-none ml-2" onclick='return confirm("Are you sure?")'>
                            <i class="far fa-trash-alt fa-lg"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#recipes').DataTable();
        });
    </script>
}