@inject Ingredient_inator.Data.ApplicationDbContext _context;
@model Ingredient_inator.Models.Recipe
@{
    ViewData["Title"] = Model.Name + " - Shopping List";
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>

    @{
        var Author = _context.Users.Where(U => U.Id == Model.Author).SingleOrDefault();
    }

    <h5>@Author.FirstName @Author.LastName</h5>
    <hr>
    <div class="row justify-content-center">
        <div class="col-2">
            @Html.Raw(Model.PortionList.Replace(",", "<br/>"))
        </div>

        <div class="col-2">
            @Html.Raw(Model.IngredientList.Replace(",", "<br/>"))
        </div>
    </div>

    <button class="btn btn-outline-primary mt-5" type="button">Print Shopping List</button>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btn").on("click", function(){
                $(this).toggleClass("d-none");
                $("#footer").toggleClass("d-none");

                window.print();

                $(this).toggleClass("d-none");
                $("#footer").toggleClass("d-none");
            });
        });
    </script>
}