@model Ingredient_inator.Models.Recipe

@{
    ViewData["Title"] = "ViewRecipe";
}

@*<h1>ViewRecipe</h1>*@

<div>
    @*<h4>Recipe</h4>*@
    
    <h2 style="text-transform: uppercase;
               color: #AC3931;
               font-weight: bold;">
        @Html.DisplayFor(model => model.Name)
    </h2>
    <h4 style="text-transform: uppercase; font-weight: bold;">
        BY <a style="color: #AC3931;">@Html.DisplayFor(model => model.Author)</a>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dt class="col-sm-2">
            Instructions
        </dt>
        <dt class="col-sm-2">
            Photo
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServingSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortionList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortionList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IngredientList)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Steps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Steps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
