@using Microsoft.AspNetCore.Identity

@inject Ingredient_inator.Data.ApplicationDbContext _context;
@inject SignInManager<ApplicationUser> SignInManager
@model Ingredient_inator.Models.RecipeReviewViewModel
@{
    ViewData["Title"] = "ViewRecipe";
}

<div>
    @{
        var author = _context.Users.Where(U => U.Id == Model.Recipe.Author).SingleOrDefault();
        var category = _context.Categories.Where(C => C.CategoryId == Model.Recipe.Category).SingleOrDefault();
    }

    <a class="btn btn-outline-secondary" asp-action="Index" id="hide">Back to Recipes</a>

    <h2 style="text-transform: uppercase;
               color: #AC3931;
               font-weight: bold;">
        @Html.DisplayFor(model => model.Recipe.Name)
    </h2>
    @if (category != null)
    {
        <p>
            Category: @category.Name
        </p>
    }

    <h4 style="text-transform: uppercase; font-weight: bold;">
        BY <a style="color: #AC3931;"> @author.FirstName @author.LastName</a>
    </h4>
    @if (ViewBag.UserId == Model.Recipe.Author)
    {

        <p id="toHide">
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Recipe.RecipeId">Edit Recipe</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Recipe.RecipeId" onclick='return confirm("Are you sure?")'>Delete Recipe</a>
        </p>
    }
    <button class="btn btn-outline-info" onclick="hide(); window.print(); show()" id="hide1">Print as Shopping List</button>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Ingredients
        </dt>
        <dt class="col-sm-4">
            Instructions
        </dt>
        <dt class="col-sm-4">
            Photo
        </dt>
    </dl>
    <dl class="row">
        <dd class="col-sm-1" style="text-align: right;">
            @Html.Raw(Model.Recipe.PortionList.Replace(",", "<br/><br/>"))
        </dd>
        <dd class="col-sm-2">
            @Html.Raw(Model.Recipe.IngredientList.Replace(",", "<br/><br/>"))
        </dd>
        <dd class="col-sm-1"></dd>
        <dd class="col-sm-4">
            @Html.Raw(Model.Recipe.Steps.Replace(";", "<br/><br/>"))
        </dd>
        <dd class="col-sm-4">
            <img src="@Html.DisplayFor(model => model.Recipe.PhotoLink)" xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="300" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180"
                 style="font-size:1.125rem;text-anchor:middle;object-fit: cover;object-position: center;">
            @*Photo:
                @Html.DisplayFor(model => model.Recipe.PhotoLink)*@
            <br />
            <iframe width="100%" height="315" src="@Html.DisplayFor(model => model.Recipe.VideoLink)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </dd>
    </dl>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div id="hide2">
        <h1>Leave a review</h1>
        <br />
        <form asp-action="Create" method="post" asp-controller="Review" id="toHide">
            <input type="hidden" asp-for="RecipeId" value="@Html.Raw(Model.Recipe.RecipeId)"/>
            <input type="text" asp-for="Content" value="" placeholder="Content" required/>
            <input type="number" asp-for="Rating" min="1" max="5" value="" placeholder="Rating (1-5)" required />
            <input type="submit" name="submitReview" value="Submit review" />
        </form>
    </div>
}
<div id="hide3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Content
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Date and time
                </th>
                <th>
                    Edited?
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td class="reviewContent">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td class="reviewRating">
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @if (item.DateModified != null)
                        {
                            @item.DateModified.Value.ToString("dd MMMM yyyy, HH:mm")
                        }
                    </td>
                    <td>
                        @if (item.DateModified != null)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>No</p>
                        }
                    </td>
                    <form asp-action="Edit" method="post" asp-controller="Review">
                        <input type="hidden" asp-for="ReviewId" value="@Html.Raw(item.ReviewId)" />
                        <input type="hidden" asp-for="RecipeId" value="@Html.Raw(Model.Recipe.RecipeId)" />
                        <td>
                            <textarea class="d-none editContent" data-reviewId="@item.ReviewId" asp-for="Content" cols="30" rows="10" value="@Html.Raw(item.Content)" required></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </td>
                        <td>
                            <input class="d-none editRating" data-reviewId="@item.ReviewId" asp-for="Rating" type="number" min="1" max="5" value="@Html.Raw(item.Rating)" required>
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </td>
                        <td>
                            <input class="d-none submitUpdatedReview" data-reviewId="@item.ReviewId" type="submit" value="Update">
                            <input class="d-none cancelUpdate" data-reviewId="@item.ReviewId" type="button" value="Cancel">
                        </td>
                    </form>
                    @if (ViewBag.UserId == item.Author)
                    {
                <td>
                    <a class="editReview" data-reviewId="@item.ReviewId" style="cursor: pointer; color: #0366d6;">Edit</a>
                     |
                    <a asp-action="Delete" asp-controller="Review" asp-route-id="@item.ReviewId" onclick='return confirm("Are you sure?")'>Delete</a>
                </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".editReview").on("click", function () {
                var reviewId = $(this).attr("data-reviewId");
                var addKeywords = [".editReview", ".reviewContent", ".reviewRating"];
                var removeKeywords = [".editContent", ".editRating", ".submitUpdatedReview", ".cancelUpdate"];

                addKeywords.forEach(element => {
                    $(element).each(function (i, el) {
                        if ($(this).attr("data-reviewId") == reviewId) {
                            $(this).addClass("d-none");
                        }
                    });
                });

                removeKeywords.forEach(element => {
                    $(element).each(function (i, el) {
                        if ($(this).attr("data-reviewId") == reviewId) {
                            $(this).removeClass("d-none");
                        }
                    });
                });
            });

            $(".cancelUpdate").on("click", function () {
                var reviewId = $(this).attr("data-reviewId");
                var addKeywords = [".editContent", ".editRating", ".submitUpdatedReview", ".cancelUpdate"];
                var removeKeywords = [".editReview", ".reviewContent", ".reviewRating"];

                addKeywords.forEach(element => {
                    $(element).each(function (i, el) {
                        if ($(this).attr("data-reviewId") == reviewId) {
                            $(this).addClass("d-none");
                        }
                    });
                });

                removeKeywords.forEach(element => {
                    $(element).each(function (i, el) {
                        if ($(this).attr("data-reviewId") == reviewId) {
                            $(this).removeClass("d-none");
                        }
                    });
                });
            });
        });
        function hide() {
            var a = document.getElementById("toHide");
            var b = document.getElementById("hide");
            var c = document.getElementById("hide1");
            var d = document.getElementById("hide2");
            var e = document.getElementById("hide3");
            a.style.visibility = "hidden";
            b.style.visibility = "hidden";
            c.style.visibility = "hidden";
            d.style.visibility = "hidden";
            e.style.visibility = "hidden";
        }
        function show() {
            var a = document.getElementById("toHide");
            var b = document.getElementById("hide");
            var c = document.getElementById("hide1");
            var d = document.getElementById("hide2");
            var e = document.getElementById("hide3");
            a.style.visibility = "visible";
            b.style.visibility = "visible";
            c.style.visibility = "visible";
            d.style.visibility = "visible";
            e.style.visibility = "visible";
        }
    </script>
}