@model Ingredient_inator.Models.Recipe

@{
    ViewData["Title"] = "ViewRecipe";
}

<div>
    <h2 style="text-transform: uppercase;
               color: #AC3931;
               font-weight: bold;">
        @Html.DisplayFor(model => model.Name)
    </h2>
    <h4 style="text-transform: uppercase; font-weight: bold;">
        BY <a style="color: #AC3931;">@Html.DisplayFor(model => model.Author)</a>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Ingredients
        </dt>
        <dt class="col-sm-4">
            Instructions
        </dt>
        <dt class="col-sm-4">
            Photo
        </dt>
    </dl>
    <dl class="row">
        <dd class="col-sm-1" style="text-align: right;">
            @Html.Raw(Model.PortionList.Replace(",", "<br/>"))
        </dd>
        <dd class="col-sm-2">
            @Html.Raw(Model.IngredientList.Replace(",", "<br/>"))
        </dd>
        <dd class="col-sm-1"></dd>
        <dd class="col-sm-4">
            @Html.Raw(Model.Steps.Replace(";", "<br/>"))
        </dd>
        <dd class="col-sm-4">
            Photo:
            @Html.DisplayFor(model => model.PhotoLink)
            <br />
            Video:
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
    </dl>
    <dl class="row">
        <dd class="col-sm-4">
            <p>
                <a asp-action="ViewShoppingList" asp-route-id="@Model.RecipeId" target="external">Print as Shopping List</a>
            </p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
